@model IList<ProductDetailsModel.AdvancedPriceModel>
@using Nop.Web.Models.Catalog;
@{
    //When there is just one advanced price (with  qty 1), there are no actual savings in the list
    var displayAdvancedPrices = Model.Count > 0 && !(Model.Count == 1 && Model[0].Quantity <= 1);
}
@if (displayAdvancedPrices)
{
    <div class="tier-prices">
        <div class="title">
            <strong>@T("Products.AdvancedPricing")</strong>
        </div>
        <div class="table-wrapper">
            <table class="prices-table">
                <tr>
                    <td class="field-header">
                        @T("Products.AdvancedPricing.Quantity")
                    </td>
                    @foreach (var advancedPrice in Model)
                    {
                        <td class="item-quantity">
                            @(advancedPrice.Quantity)+
                        </td>
                    }
                </tr>
                <tr>
                    <td class="field-header">
                        @T("Products.AdvancedPricing.Price")
                    </td>
                    @foreach (var advancedPrice in Model)
                    {
                        <td class="item-price">
                            @advancedPrice.Price
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>
}